<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>

<!-- The aim is to automate the stocktaking of buildings.This is needed to initiate new projects or make the calculation of facility management services.
A tool that is easy to handle and everyone carries around is the smart phone. So there shall be a web application that takes pictures and collects meta data of the picture as an user input. This shall be the input for an image recognition algorithm. When there are enough pictures collected, it should be possible e.g. to automate the counting of windows of a building.   -->
<br>
<br>

<h1 id="heading"  style="color: rgb(18, 99, 119) " >Window Counter</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="color: brown;">DESCRIPTION</h5>

        <p class="card-text style" style="font-style: italic; font-weight: bolder;">
        Object detection is a computer technology related to computer vision and image processing that deals with classification (what) and localization (where) of object instances in an image or video. The window counter application can be done by creating a bounding box around thewindow and calculating number of windows.
</p>
        <!-- <p class="card-text style" style="font-style: italic; font-weight: bolder;"> 
         The aim is to automate the stocktaking of buildings.This is needed to initiate new projects or make the calculation of facility management services.
           So there shall be a web application that takes pictures and collects meta data of the picture as an user input. This shall be the input for an image recognition algorithm. When there are enough pictures collected, it should be possible e.g. to automate the counting of windows of a building.   </p> -->
        <!-- <a href="#" class="btn btn-primary">HOME</a> -->
      </div>
    </div>
  </div>
  
</div>

</div>
  
</body>
</html>
