.subbtn{
    padding-top: 6%;
}
.leftcard{
    padding-left: 7%;

}
.rightcard{
    padding-left: 9%;
}
.pad-30{
    padding-left: 30%;
}
.height{
  bottom:0%;
  position: fixed;
  padding-left: 35%;
}
.remov-border{
    border: none !important;
}
.error{
    color:red;
    font-size:20px;
    font-weight:500;

}
.back-img{
    background-image: url("../../assets/wallper.jpg");
}

.space{
    height: 215px;
}
.wincon{
    font-size: 20px;
    font-family: cursive;
    font-weight: 500;
    margin-left: -75px;
}
.pic{
    margin-left: 100px;
}


    
