<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color:#103257 !important;">
  <a class="navbar-brand curv" href="#"> <i class="fa fa-windows"></i> Window-Counter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#"><i class="fa fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="About"><i class="fa fa-users"></i> About</a>
      </li>
    </ul>
  </div>
</nav>